@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppin;
  src: url(/font/Poppins-Regular.ttf);
}

.Poppin {
  font-family: Poppin;
}

@font-face {
  font-family: Buda;
  src: url(/font/Budaya-YzoBj.otf);
}

.Buda {
  font-family: Buda;
}

:root {
  font-family: Poppin, Buda;
  line-height: 1.5;
  font-weight: 400;
}
